<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "UNFOLLWED_ME" %></title>
  </head>
  <body>
    <div class="container">
        <div class="container nav-collapse">
          <ul class="nav",  align="right">
            <% if current_user %>
              <%= link_to 'Settings', edit_user_registration_path %> |
               <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    <div class="span9">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>